<h4>Formularios <small>template</small></h4>
<hr>
<form #forma="ngForm" (ngSubmit)="guardar(forma)" novalidate="">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               placeholder="Nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="5"
               #nombre="ngModel">
        <div *ngIf="nombre.errors?.required" class="form-control-feedback">
            Este campo es requerido.
        </div>
        <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
                Este campo requiere {{ nombre.errors.minlength.requiredLength }} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': nombre.errors?.required && nombre.touched }">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">
    
        <input class="form-control" type="text" name="apellido" placeholder="Apellido" required
            [(ngModel)]="usuario.apellido" #apellido="ngModel">
        <div *ngIf="apellido.errors?.required" class="form-control-feedback">
            Este campo es requerido.
        </div>
    </div>
    </div>

  </div>

<div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.pattern) && nombre.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
    
        <input class="form-control" type="email" name="email" placeholder="Correo electrónico"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="usuario.email" #email="ngModel">
        <div *ngIf="email.errors?.required" class="form-control-feedback">
            Este campo es requerido.
        </div>
        <div *ngIf="email.errors?.pattern" class="form-control-feedback">
            El campo no tiene el formato correcto.
        </div>
    </div>
</div>

<div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">
        <select [(ngModel)]="usuario.pais" class="form-control">
            <option value="pais">Seleccione un país</option>
            <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
        </select>
    </div>
</div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid"type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>